html, body, #app {
    height: 100%;
    margin: 0;
}

#app {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Ajusta a auto para el footer */
}

.navmodificado{
    background-color: #FEBB02;
    color: #113C73;
    height: 70px;
    font-weight: bolder;
}

.separador {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    padding: 20px; /* Opcional */
}

.left {
    padding-left: 3rem;
}

.right {
    padding-right: 3rem;
}

h1 {
    display: none;
}

.iconosHome{
    margin: 4rem 0;
}

img {
    width: 100%;
}

.logo {
    margin-top: 3rem;
    width: 75%;
}

.logo-nav {
    max-width: 150px;
}

.texto {
    font-size: 1.3rem;
    margin: 3rem 0;
}

.footer {
    height: 70px;
    background-color: #113C73;
    color: whitesmoke;
}

.footer p {
    text-align: center;
    margin-top: 1rem;
}

/* -------------------------------NOVEDADES */
.cardModificada{
    border: none;
}

.tituloCard{
    font-size: 1.3rem;
    font-weight: bolder;
    font-style: italic;
    color: #113C73;
}

.boton{
    background-color: #FEBB02;
    color: #113C73;
    padding: 0.5rem 4rem;
    font-weight: bold;
    width: 100%;
}

/* -------------------------------ADMIN NOVEDADES */

.center {
    text-align: center;
    margin-top: 2rem;
    font-style: italic;
}

table {
    font-size: 0.9rem;
}

table > thead {
    border-bottom: solid 1px black;
}


/*CONTACTO*/

.contacto-logo{
    width: 100%;
    max-width: 250px; /* Ajusta el tamaño máximo del logo */
    height: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .contacto-logo {
        max-width: 150px; /* Tamaño más pequeño en pantallas móviles */
    }
}